name: Deploy Lambda to AWS

on:
  push:
    branches:
      - main
    paths:
      - 'Backend/**'  # Chỉ deploy khi có thay đổi trong thư mục Backend

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Node.js
      uses: actions/setup-node@v2
      with:
        node-version: '14'

    - name: Install dependencies
      run: |
        cd Backend
        npm install

    - name: Zip Lambda function code
      run: |
        cd Backend
        zip -r function.zip src/

    - name: Set up AWS CLI
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{ secrets_AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets_AWS_SECRET_ACCESS_KEY }}
        aws-region: us-east-1

    - name: Deploy to Lambda
      run: |
        aws lambda update-function-code --function-name learninghub-backend --zip-file fileb://Backend/function.zip
